body,
.card,
.list-inset {
  background: #e5e5e5 !important;
}

.button-red {
  background: #ed1c24 !important;
  color: #fff !important;
}

.checkbox-red input:before,
.checkbox-red .checkbox-icon:before {
  border-color: #ed1c24; 
}

.checkbox-red input:checked:before,
.checkbox-red input:checked + .checkbox-icon:before {
  background: #ed1c24;
  border-color: #ed1c24;
}

.login-logo {
  padding: 20px 10px 0 10px;
}

.bar-powered-by {
  text-align: center;
  line-height: 25px;
  justify-content: center;
}

.image-powered-by {
  height: 25px;
  margin: 0 5px;
  vertical-align: middle;
}

.button-mic {
  position: absolute;
  width: 40vw;
  height: 40vw;
  line-height: 40vw;
  border-radius: 100%;
  background: #ed1c24;
  text-align: center;
  top: calc(50vh - 20vw);
  left: 30vw;
}
.button-mic i {
  font-size: 15vw;
  color: #fff;
}