<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <script src="js/platformOverrides.js"></script>

  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <script src="cordova.js"></script>

  <script src="../plugins/cordova-plugin-tts/www/tts.js"></script>
  <script src="../plugins/cordova-plugin-speechrecognition/www/speechRecognition.js"></script>
  <script src="js/ng-cordova.min.js"></script>

  <script src="js/controllers.js"></script>
</head>
<body ng-app="VNApp" ng-controller="RegisterController">
  <img class="full-image login-logo" src="img/voicenews.png" />

  <div class="list list-inset">

    <label class="item item-input">
      <input type="text" ng-model="username" placeholder="Kullanıcı Adı">
    </label>
    <label class="item item-input">
      <input type="password" ng-model="password" placeholder="Şifre">
    </label>
    <label>{{Message}}</label>
    <button class="button button-block button-positive button-primary" ng-click="register()">
      Üye Ol
    </button>
    <button onclick="window.location.href='login.html'" class="button button-block button-clear button-dark">
      Giriş Yap
    </button>
  </div>

  <div class="bar bar-footer bar-clear bar-powered-by">
    Powered by  <img class="image-powered-by" src="http://s.hurriyet.com.tr/static/img/hurriyet/hurriyet-logo.svg" />
  </div>
</body>
</html>
